/* Custom CSS Styles for Arney Website */

/*Here are the selectors used in BS3, if you want to stay consistent:

@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
Here are the selectors used in BS4. There is no "lowest" setting in BS4 because "extra small" is the default. I.e. you would first code the XS size and then have these media overrides afterwards.

@media(min-width:34em){}
@media(min-width:48em){}
@media(min-width:62em){}
@media(min-width:75em){}
Update 2015-12-08: This is still accurate as of version 3.3.6 and 4.0.0a2*/

/*---------------------------------------
COLOURS
-----------------------------------------
HEX Keys for the main colours used in the project

PRIMARY
-------
E52520 - Red
0075FF - Royal Blue
383838 - Grey

SECONDARY
---------
9E1320 - Dark Red
9CEDFF - Light Blue

*/


/*---------------------------------------
FONTS
---------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Roboto:300,300i,400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);

/*---------------------------------------
GLOBAL - mobile first
---------------------------------------*/

body{
  font-family: "Roboto", sans-serif, Arial;
  font-weight: 300;
  line-height: 1.5em;
  text-align:center;
  background-color: #FFF;
}

h1 {
  font-family: 'Ubuntu';
  font-size: 3em;
  color: #111;
  line-height: 1.1;
  text-transform: uppercase;
}

h2 {
  font-weight:700;
  font-size: 2em;
}

h3 {
  font-weight: 300;
  font-style: italic;
  font-size: 2em;
}

h4 {
}

h5 {
}

@media(min-width:34em){
  h5 {
    font-size: 1.2em;
  }
}

p {
  font-size: 1em;
}

a {
  font-weight: 400;
  text-decoration:none;
}

label{
  font-size: 0.8em;
  font-weight: 300;
}

@media(min-width:48em){
  h1 {
    font-size:6em;
  }
}

.container, .container-fluid{
  background-color: #fff;
}

*:focus{
  outline:none;
}

/* CUSTOM CLASSES/STYLES */

.section {
  padding-bottom: 5em;
}

.left-align {
  display: inline-block;
  float: left;
}

.right-align {
  display: inline-block;
  float: right;
}

.line {
  display:block;
}

@media(min-width:34em){

}

@media(min-width:62em){
  .line {
    display:inline-block;
  }
}

/*---------------------------------------
HEADER
---------------------------------------*/

.navbar-brand {
  padding-left: 2em;
}

/* NAVIGATION */
.navbar-default{
  background-color: #FFF;
  border: none;
  color: #383838;
  padding-bottom: 1em;
  padding-top: 0.5em;
}

.navbar-header h1 {

}

.navbar-toggle{
  border: none;
  box-shadow: none;
}

.navbar > .container-fluid {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #383838;
  width: 2.7em;
}

.navbar-toggle .icon-bar+.icon-bar{
  margin-top: 0.8em;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #FFF;
}

.navbar-default .navbar-collapse {
  border:none;
  box-shadow: none;
}

.navbar-collapse li {
  padding: 0 3em 0 3em;
}

.navbar-default .navbar-collapse a {
  border-top: 1px solid #383838;
  padding: 1em 0 1em 0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background: #9CEDFF;
  color: #383838;
}

.navbar-default li.active a {
  background: #9CEDFF;
  color: #383838;
}

.navbar-default .navbar-nav>li>a {
  color: #383838;
}

.navbar-default .navbar-collapse a {
  font-size: 0.8em;
}

@media(min-width:48em){

  .navbar-default{
    padding-top: 1em;
  }

  .navbar-nav {
    padding: 1em 0 1em 0;
    margin-right: 1em;
  }

  .navbar-collapse li {
    padding: 0 0.5em 0 0.5em;
  }

  .navbar-default .navbar-collapse a {
    border-top: none;
    padding: 0.3em 0.5em 0.3em 0.5em;
  }

  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    outline: 0.2em solid #FF7775;
    color: #FF7775;
    background-color:#FFF;
  }

}

@media(min-width:62em){
}


/*---------------------------------------
BANNER
---------------------------------------*/
.banner{
  background-image: url("../img/Photos/SQ/2016_NZ_Lake_Te_Anau_Sunrise_1920x848.jpg");
  background-color: #383838;
  min-height: 30em;
  padding-top: 5.5em; /*for Bootstrap fixed navbar*/
  /*height: 100vh;*/
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.banner-title {
  position:absolute;
  display:inline-block;
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner h2 {
  color: #fff;
}

.banner h3 {
  color: #fff;
  font-weight: 300;
}

@media(min-width:48em){
  .banner{
    min-height: 30em;
  }
}

@media(min-width:62em){

}


/*---------------------------------------
TAGLINE
---------------------------------------*/
.tagline{
  background-color: #FFF;
  position: relative;
  padding: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.tagline p {
  font-size: 1.5em;
  text-align: center;
  line-height: 1.3em;
  display: inline-block;
  border: none;
  padding: 0 3em 0 3em;
}

@media(min-width:34em){
  .tagline h2 {
    font-size: 2.5em;
  }
}

.tagline a {
  color: #383838;
  font-weight:600;
  font-size: 1.5em;
  padding: 0.8em;

  display: inline-flex;
  vertical-align: middle;
  margin-bottom: 2em;
}

.tagline a:hover{
  color: #fff;
  border: 0.3em solid #fff;
  text-decoration: none;
}

@media(min-width:48em){
  .tagline a {
    margin: 0 0 1.5em 1em;
  }
}

/*---------------------------------------
WORK
---------------------------------------*/

@media(min-width:62em){

}


/*---------------------------------------
PHOTOS
---------------------------------------*/

@media(min-width:62em){

}


/*---------------------------------------
FOOTER
---------------------------------------*/

@media(min-width:62em){

}
