/* Custom CSS Styles for Arney Website */

/*Here are the selectors used in BS3, if you want to stay consistent:

@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
Here are the selectors used in BS4. There is no "lowest" setting in BS4 because "extra small" is the default. I.e. you would first code the XS size and then have these media overrides afterwards.

@media(min-width:34em){}
@media(min-width:48em){}
@media(min-width:62em){}
@media(min-width:75em){}
Update 2015-12-08: This is still accurate as of version 3.3.6 and 4.0.0a2*/

/*---------------------------------------
FONTS
---------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800);
@import url(http://fonts.googleapis.com/css?family=Lato:700);
@import url(http://fonts.googleapis.com/css?family=Raleway:900);

@font-face {
  font-family: 'Kada';
  src: url("../fonts/KadaLLWeb-Regular.eot");
  src: url("../fonts/KadaLLWeb-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/KadaLLWeb-Regular.woff2") format("woff2"), url("../fonts/KadaLLWeb-Regular.woff") format("woff"); /*, url("../fonts/KadaLLWeb-Regular.ttf") format("truetype"), url("../fonts/Open Sans-regular-webfont.svg#Open Sansregular") format("svg");*/
  font-weight: normal;
  font-style: normal;
}

/*---------------------------------------
GLOBAL - mobile first
---------------------------------------*/

body{
  font-family: "Open Sans", sans-serif, Arial;
  font-weight: 400;
  line-height: 1.5em;
  text-align:center;
  background-color: #6E32FF;
}

h1 {
  font-family: 'Kada';
  font-size: 5em;
  color: #fff;
  text-shadow: 0.06em 0.06em 0 #FF7775;
  line-height: 1.1;
  text-transform: uppercase;
}

h2 {
  text-transform:uppercase;
  font-weight:600;
}

h3 {
  text-transform:uppercase;
  letter-spacing:0.3em;
  font-size: 1.2em;
}

h4 {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 4em;
}

h5 {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

@media(min-width:34em){
  h5 {
    font-size: 1.2em;
  }
}

p {
  font-size: 1em;
}

a {
  font-weight: 400;
  text-transform:uppercase;
  text-decoration:none;
}

label{
  font-size: 0.8em;
  font-weight: 300;
}

@media(min-width:48em){
  h1 {
    font-size:6em;
  }
}

.container, .container-fluid{
  background-color: #fff;
}

*:focus{
  outline:none;
}

/* CUSTOM CLASSES/STYLES */

.section {
  padding-bottom: 5em;
}

.icon-group {
  margin-bottom: 5em;
}

.logos {
  background-color: #f8f9fd;
}

.block-title {
  color: #6E32FF;
  border: 5px solid #6E32FF;
  font-size: 2.2em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.3;
  text-align: center;
  padding: 0.4em 0.4em 0.4em 0.6em;
  word-wrap: break-word;
  display: inline-block;
  margin: 2em 0 0.5em 0;
}

@media(min-width:34em){
  .block-title {
    font-size: 3em;
  }
}

.full-stop {
  font-family: 'Lato';
  font-size: 1.5em;
  font-weight: 700;
  line-height: 0.5;
}

.line {
  display:block;
}

.button-orange, .icon-orange {
  border: 0.15em solid #FF7775;
  margin: 0.8em 0.4em 0 0.4em;
  color: #FF7775;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}

.button-orange:hover, .icon-orange:hover {
  color: #68FEF6;
  border: 0.15em solid #68FEF6;
  text-decoration: none;
}

.button-orange {
  font-size: 0,8em;
  padding: 0.8em;
  background: none;
}

.icon-orange {
  font-size: 1em;
  padding: 0.5em;
}

.img-circle {
  margin: 1em 0 1em 0;
}

.left-align {
  display: inline-block;
  float: left;
}

.right-align {
  display: inline-block;
  float: right;
}

@media(min-width:62em){
  .line {
    display:inline-block;
  }
}

/* TAGLINE */
.tagline{
  background-image: url("../img/block_685x872px.png");
  background-color: #6E32FF;
  position: relative;
  padding: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.tagline h2 {
  color: #68FEF6;
  font-size: 1.8em;
  display: inline-block;
  border: none;
}

@media(min-width:34em){
  .tagline h2 {
    font-size: 2.5em;
  }
}

.tagline a {
  color: #68FEF6;
  text-transform:uppercase;
  font-weight:600;
  font-size: 0.8em;
  border: 0.3em solid #68FEF6;
  padding: 0.8em;

  display: inline-flex;
  vertical-align: middle;
  margin-bottom: 2em;
}

.tagline a:hover{
  color: #fff;
  border: 0.3em solid #fff;
  text-decoration: none;
}

@media(min-width:48em){
  .tagline a {
    margin: 0 0 1.5em 1em;
  }
}

/* PROMO */
.promo {
  background-color: #6E32FF;
  min-height: 50px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
}

.promo h1{
  display: inline-block;
}

.promo h2{
  color: #fff;
  text-align: center;
  display: block;
  margin-bottom: 1em;
  text-align: center;
}

@media(min-width:48em){
  .promo h2{
    color: #fff;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    margin: 0 0 1em 1em;
    text-align: left;
  }
}

/*---------------------------------------
HEADER
---------------------------------------*/

.navbar-brand {
  padding-left: 2em;
}

/* NAVIGATION */
.navbar-default{
  background-color: #6E32FF;
  border: none;
  color: #fff;
  padding-bottom: 1em;
  padding-top: 0.5em;
}

.navbar-toggle{
  border: none;
  box-shadow: none;
}

.navbar > .container-fluid {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #fff;
  width: 2.7em;
}

.navbar-toggle .icon-bar+.icon-bar{
  margin-top: 0.8em;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #6E32FF;
}

.navbar-default .navbar-collapse {
  border:none;
  box-shadow: none;
}

.navbar-collapse li {
  padding: 0 3em 0 3em;
}

.navbar-default .navbar-collapse a {
  border-top: 1px solid #2b3542;
  padding: 1em 0 1em 0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background: #FF7775;
  color: #fff;
}

.navbar-default li.active a {
  background: #FF7775;
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-collapse a {
  font-size: 0.8em;
}

@media(min-width:48em){

  .navbar-default{
    padding-top: 1em;
  }

  .navbar-nav {
    padding: 1em 0 1em 0;
    margin-right: 1em;
  }

  .navbar-collapse li {
    padding: 0 0.5em 0 0.5em;
  }

  .navbar-default .navbar-collapse a {
    border-top: none;
    padding: 0.3em 0.5em 0.3em 0.5em;
  }

  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    outline: 0.2em solid #FF7775;
    color: #FF7775;
    background-color:#6E32FF;
  }

}

@media(min-width:62em){
}


/*---------------------------------------
BANNER
---------------------------------------*/
.banner{
  background-image: url("../img/banner_1400x651px.jpg");
  background-color: #6E32FF;
  min-height: 30em;
  padding-top: 5.5em; /*for Bootstrap fixed navbar*/
  /*height: 100vh;*/
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.banner-title {
  position:absolute;
  display:inline-block;
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner h3 {
  color: #fff;
  font-weight: 300;
}

@media(min-width:48em){
  .banner{
    min-height: 30em;
  }
}

@media(min-width:62em){

}
/*---------------------------------------
ABOUT-US
---------------------------------------*/

@media(min-width:62em){

}

/*---------------------------------------
SERVICES
---------------------------------------*/
.services h5 {
  font-size: 0.8em;
}

@media(min-width:34em){
  .services h5 {
    font-size: 1.2em;
  }
}

@media(min-width:62em){

}

/*---------------------------------------
TEAM
---------------------------------------*/

.member {
  margin-bottom: 5em;
}

@media(min-width:62em){

}

/*---------------------------------------
CONTACT
---------------------------------------*/
/* Contact Form */
.form-group label {
  text-align: left;
  width: 100%;
  float:left;
  padding-left: 1em;
}

.input-group {
  padding: 1em 0 1em 0;
  background-color: #f8f9fd;
  width: 100%;
}

.form-control {
  background-color: #f8f9fd;
  border-radius: 0;
  box-shadow: none;
  border: none;
  padding-left: 2em;
}

.form-control:focus {
  border: none;
  box-shadow: none;
}

/* Form Error Handling */
.notify {
	padding: 1em 0 1em 0;
}

.error {
	color: #FF7875;
}

.success {
	color: #9134D9;
}

@media(min-width:62em){

}

/*---------------------------------------
FOOTER
---------------------------------------*/
.footer {
  min-height: 25em;
}

.footer p, .footer label {
  color: #fff;
  margin: 2em 0 2em 0;
}

.button-white {
  border: 0.18em solid #fff;
  padding: 0.8em;
  font-size: 0.8em;
  color: #fff;
  text-transform: uppercase;
  background: none;
  margin-top: 1.5em;
}

.button-white:hover {
  color: #68FEF6;
  border: 0.18em solid #68FEF6;
  text-decoration: none;
}

.subscribe {
  background-color:#404249;
  color: #fff;
}

.subscribe-input {
  display: inline-block;
}

.subscribe label {
  font-size: 1em;
  padding-right: 1em;
}

.footer input {
  background-color:#404249;
  color: #fff;
  border: none;
  border-radius: 0;
  border-bottom: 0.18em solid #fff;
  padding-left: 1.5em;
  line-height: 2em;
  min-width: 90%;
}

.footer input:focus {
  border:none;
  box-shadow: none;
  border-bottom: 0.18em solid #666666;
}

/* This class centers for small screens and aligns right for larger */
.right-center, .left-center {
  float: none;
  /*margin: 1.5em auto;*/
}

.btt{
  background-color: #6E32FF;
}

.btt .button-orange {
  padding:0.5em;
  margin: 1em;
  text-decoration:none;
}

@media(min-width:34em){

  .footer input {
    border-left: 0.18em solid #fff;
    border-bottom: none;
    min-width: 15em;
  }

  .footer input:focus {
    border:none;
    box-shadow: none;
    border-left: 0.18em solid #fff;
  }

  .right-center {
    float: right;
    display: inline-block;
    }

  .left-center {
    float:left;
    display: inline-block;
  }

}
