/* Custom CSS Styles for Arney Website */

/*Here are the selectors used in BS3, if you want to stay consistent:

@media(max-width:767px){} xs
@media(min-width:768px){} sm
@media(min-width:992px){} md
@media(min-width:1200px){} lg
Here are the selectors used in BS4. There is no "lowest" setting in BS4 because "extra small" is the default. I.e. you would first code the XS size and then have these media overrides afterwards.

@media(min-width:34em){} xs
@media(min-width:48em){} sm
@media(min-width:62em){} md
@media(min-width:75em){} lg
Update 2015-12-08: This is still accurate as of version 3.3.6 and 4.0.0a2*/

/*---------------------------------------
COLOURS
-----------------------------------------
HEX Keys for the main colours used in the project

PRIMARY
-------
E51C20 - Red
0075FF - Royal Blue
383838 - Grey

SECONDARY
---------
9E1320 - Dark Red
9CEDFF - Light Blue

*/


/*---------------------------------------
FONTS
---------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Roboto:300,300i,400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);

/*---------------------------------------
GLOBAL - mobile first
---------------------------------------*/

body{
  font-family: "Roboto", sans-serif, Arial;
  font-weight: 300;
  line-height: 1.5em;
  text-align:center;
  background-color: #FFF;
}

h1 {
  font-family: 'Ubuntu';
  font-size: 3em;
  color: #111;
  line-height: 1.1;
  text-transform: uppercase;
}

h2 {
  font-weight:700;
  font-size: 2em;
}

h3 {
  font-weight: 300;
  font-size: 2em;
}

h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
}

h5 {
  font-weight: 400;
  font-size: 1.5em;
  margin: 0 0 1em 0;
}

p {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.5em;
}

a {
  font-weight: 400;
  text-decoration:none;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #0075FF;
}

li {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: left;
}

a:hover {
  text-decoration: none;
  color: #9CEDFF;
}

.img-responsive {
  display: inline-block;
}

@media(min-width:34em){

  /*a {
    font-weight: 400;
    text-decoration:none;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #0075FF;
  }*/

  label{
    font-size: 0.8em;
    font-weight: 300;
  }
}
@media(min-width:48em){
}

.container, .container-fluid{
  background-color: #fff;
}

*:focus{
  outline:none;
}



/* CUSTOM CLASSES/STYLES */

.section {
  padding-bottom: 5em;
}

.left-align {
  display: inline-block;
  float: left;
}

.right-align {
  display: inline-block;
  float: right;
}

.line {
  display:block;
}

.pull-middle {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.image-hide .desktop {
  display: none;
}

.nopad {
  padding: 0;
}

.nomarg{
  margin: 0;
}

.work-banner {
  background-color: #383838;
  min-height: 30em;
  margin-top: 5.5em;
  padding-top: 5.5em; /*for Bootstrap fixed navbar*/
  position: relative;
}

.work-banner img {
  max-height: 25em;
}

@media(min-width:34em){
  /*.sm-nobreak{
    white-space:nowrap;
  }*/
}

@media(min-width:48em){
  .line {
    display:inline-block;
  }

  .work-banner{
    min-height: 45em;
  }

}

@media(min-width:62em){
  .image-hide .desktop {
    display: inline-block;
  }

  .image-hide .mobile {
    display: none;
  }
}



/*---------------------------------------
HEADER
---------------------------------------*/
/* NAVIGATION */
.navbar {
  min-height: 5.5em;
}

.navbar-brand {
  padding-left: 0.5em;
  padding-top: 0.8em;
}

.navbar-default{
  background-color: #FFF;
  border: none;
  color: #383838;
}

.navbar-toggle{
  border: none;
  box-shadow: none;
  padding-top: 1.1em;
  padding-left: 0;
  margin-left: 0;
}

.navbar > .container-fluid {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #383838;
  width: 2.7em;
  padding-left: 0;
}

.navbar-toggle .icon-bar+.icon-bar{
  margin-top: 0.8em;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #FFF;
}

.navbar-default .navbar-collapse {
  border:none;
  box-shadow: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background: #E51C20;
  color: #FFF;
}

.navbar-default li.active a {
  background: #E51C20;
  color: #383838;
}

.navbar-default .navbar-nav>li>a {
  color: #383838;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
  padding-left: 0.5em;
}

.navbar-default .navbar-collapse a {
  font-size: 0.8em;
}

@media(min-width:22em){
  .navbar-brand {
    padding-left: 2em;
  }
}

@media(min-width:48em){

  .navbar-default .navbar-collapse a {
    border-top: none;
  }

  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #E51C20;
    background-color:#FFF;
  }

  .navbar-brand {
    padding-left: 2em;
  }

.navbar-right {
  padding-right: 2em;
}

}

@media(min-width:62em){
}


/*---------------------------------------
BANNER
---------------------------------------*/

.banner{
  background-image: url("../img/Photos/SQ/2016_NZ_Lake_Te_Anau_Sunrise_1920x848.jpg");
  background-color: #383838;
  min-height: 30em;
  /*height: 100vh;*/
  margin-top: 5.5em;
  padding-top: 5.5em; /*for Bootstrap fixed navbar*/
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.banner-title {
  position:absolute;
  display:inline-block;
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -1em;
}

.banner-title h4, .banner-title h5 {
  color: #fff;
}

.banner h2 {
  color: #fff;
  line-height: 1.3em;
  font-weight: 300;
  font-size: 2.5em;
  padding: 0 1em 0 1em;
}

.banner h3 {
  color: #fff;
  font-weight: 300;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media(min-width:34em){
  .banner h2 {
    font-size: 3em;
    padding: 0 2em 0 2em;
  }

  /*.banner-title {
    margin-top: -5.5em;
  }*/
}

@media(min-width:48em){
  .banner{
    min-height: 45em;
  }

  .banner h2 {
    font-size: 4em;
    padding: 0 2em 0 2em;
  }

}

@media(min-width:62em){

}


/*---------------------------------------
TAGLINE
---------------------------------------*/
.tagline{
  background-color: #FFF;
  position: relative;
  padding: 3em 1em 1em 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*bottom: 0;*/
}

.tagline p {
  font-size: 1.5em;
  text-align: center;
  line-height: 1.3em;
  /*display: inline-block;*/
  border: none;
  padding: 0 1em 1em 1em;
}

@media(min-width:34em){
  .tagline h2 {
    font-size: 2.5em;
  }
}

.tagline a {
  color: #383838;
  font-weight:600;
  font-size: 1.5em;
  line-height: 1.8em;
  text-decoration: none;
}

.tagline a:hover{
  color: #E51C20;
  text-decoration: none;
}

.tagline i {
  line-height: 0em;
  padding-top: 0.3em;
  padding-bottom: 0.5em;
}

@media(min-width:48em){
  .tagline a {
    margin: 0 0 1.5em 1em;
  }

  .tagline p {
    padding: 0 3em 1em 3em;
  }

}

/*---------------------------------------
WORK
---------------------------------------*/
#work h4,#work h5,#work p,#work a {
  color: #fff;
  padding: 0 2em 0 2em;
}

#work .row div:first-child {
  padding-bottom: 2em;
}

#work a {
  font-size: 1.2em;
  padding: 0 1em 0 1em;
}

#work i {
  font-size: 1.5em;
  padding-left: 0.2em;
  vertical-align: -7%;
}

.work1,.work2,.work3 {
  padding: 2em 0 2em 0;
}

.work1 {
  background-color: #E51C20;
  /*margin-top: 5.5em;*/
}

.work2 {
  background-color: #9E1320;
}

.work3 {
  background-color: #0075FF;
}

.work-image div:first-child {
  /*margin-bottom: 2em;*/
}

.work-image {
  margin: 4em 0 4em 0;
}

.work-describe {
  margin: 4em 0 4em 0;
}

.btn {
  background-color: #111;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  padding: 1em;
  margin: 2em 0 1em 0;
}

.btn a:hover {
  text-decoration: none;
}

div.btn:hover {
  background: #383838;
  background: rgba(0,0,0,0.3);
}

@media(min-width:48em){
  #work h4,#work h5,#work p,#work a {
    text-align: left;
    padding: 0;
  }

  .btn {
    display: inline-block;
    float: left;
  }

  #work h4 {
    margin: 0 0 0.2em 0;
  }

  .work-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .work-image div:first-child {
    display:flex;
    justify-content: flex-end;
    margin-right: 2em;
    /*margin-bottom: 2em;*/
  }

  .work-image p {
    max-width: 20em;
  }

}

@media(min-width:62em){

}


/*---------------------------------------
PHOTOS
---------------------------------------*/
#photos.section {
  padding-bottom: 0;
}

#photos .banner {
  background-image: url("../img/Photos/SQ/2016_NZ_Milford_Sound_1920x1280.jpg");
  background-color: #FFF;
  margin: 0;
  padding 0;
}

#photos .container-fluid {
  padding-top: 0;
}

#photos h3 {
  margin-top: -0.5em;
}

#photos .banner h2 {
  font-size: 2em !important;
  padding: 0;
}

@media(min-width: 29.3em){
  #photos .logo-text {
    text-align: left;
  }

  #photos h3 {
    margin-top: -1em;
  }

}

/*---------------------------------------
ABOUT
---------------------------------------*/
#about {
  margin-top: 7.5em; /* To account for fixed header*/
  margin-bottom: 5em;
}

#about h3 {
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}

#about h3:first-of-type {
  margin-top: 1em;
}

#about h5 {
  margin-top: 2em;
}

#about h5:first-of-type {
  margin-top: 0;
}

#about p {
  margin: 0;
  padding-top: 0.3em;
  padding-bottom: 1em;
}

#about div p:first-of-type {
  margin-top: 2em;
  padding-bottom: 0;
}

#about a {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

#about a>i {
  color: #E51C20;
  font-size: 1.5em;
  vertical-align: middle;
}

.about-item {
  margin-bottom: 5em;
  margin-top: 3em;
}

@media(min-width:48em){
  .about-item {
    margin-top: 0em;
  }
}

/*---------------------------------------
PROJECT (WORK) STYLES
---------------------------------------*/
.project h4 {
  font-size: 2.5em;
}

.project h5 {
  font-size: 2em;
}

.project-body {
  margin-top: 5em;
}

.project-body h4 {
  text-align: left;
  text-transform: none;
  padding-top: 2em;
  padding-bottom: 0.5em;
  font-size: 2em;
}

.project-body p {
  text-align: left;
  padding-bottom: 0.5em;
}

.project-body li {
  padding-top: 0.5em;
}

.caption {
  font-style: italic;
  text-align: center !important;
  font-size: 1em;
  padding-top: 0.3em;
}

.project-body img {
  padding-top: 2em;
  padding-bottom: 2em;
}

.project-body .btn {
  float: initial;
  margin: 2em 0 3em 0;
  background-color: #E51C20;
}

.project-body .btn a {
  color: #fff;
}

.project-body div.btn:hover {
  background-color: #9E1320;
}

.see-more {
  background-color: #0075FF;
  min-height: 15em;
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0 0 1em 0;
}

.see-more .btn {
  float: inherit;
  margin: 5em 0 1em 0;
}

.see-more .btn a {
  color: #fff;
}

/*---------------------------------------
ARNEY
---------------------------------------*/
#arney .work-banner {
  background-color: #E51C20;
}

/*---------------------------------------
FOOTER
---------------------------------------*/
#footer img {
  display: inline-block;
}

.logo-text {
  display: inline-block;
  vertical-align: middle;
}

#footer h2, #footer h3 {
  text-align: center;
  margin-top: 0.1em;
}

#footer a {
  font-weight: 300;
  font-size: 1.2em;
  text-align: left;
  line-height: 1em;
  padding-right: 1em;
  color: #383838;
  margin-left: auto;
  margin-right: auto;
}

#footer a:last-child {
  padding-right: 0;
}

#footer a:hover {
  text-decoration: none;
  color: #E51C20;
}

#footer i {
  color: #E51C20;
  padding-right: 0.5em;
  font-size: 1.5em;
  vertical-align: middle;
}

.left-center {
  /*max-width: 50%;*/
  display: inline-block;
  margin: 2em 0 2em 2em;
}

/* CUSTOM SIZE FOR TEXT BREAK */
@media(min-width: 31.7em){
  #footer h2, #footer h3 {
    text-align: left;
  }
}

@media(min-width:48em){
  #footer a {
    white-space:nowrap;
  }

  .left-center {
    max-width: 100%;
    display: inline-block;
    margin-top: 2em;
  }
}
